# Папки #
############
/ogsr_package/OUT
/ogsr_package/READY
/ogsr_package/REDIST
/ogsr_package/UNPACKED
/ogsr_engine/_TEMP
/ogsr_engine/_BIN
/ogsr_engine/_LIB
__history

# Бинарники #
############
*.exe
*.dll
*.lib
*.exp

# Мусор студии #
############
*.suo
*.obj
*.sdf
*.db
*.db-shm
*.db-wal
*.opendb
.vs/
*.VC.*
*.ipch

# Мусор борланда #
##################
*.~*

# Мусор WinMerge #
##################
*.bak