# Папки #
############
ogsr_package/OUT
ogsr_package/READY
ogsr_package/REDIST
ogsr_package/UNPACKED
__history
Release
Win32
Debug
3rd_party
ipch

# Бинарники #
############
*.exe
*.dll
*.lib
*.exp

# Мусор студии #
############
*.suo
*.obj
*.sdf
*.db
*.db-shm
*.db-wal
*.opendb
.vs

# Мусор борланда #
##################
*.~*

# Мусор WinMerge #
##################
*.bak