<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Configurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Configurator.Properties.Settings>
            <setting name="AutoCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>rus</value>
            </setting>
            <setting name="GridSplitterPos" serializeAs="String">
                <value>394</value>
            </setting>
            <setting name="GridCommentHeight" serializeAs="String">
                <value>71</value>
            </setting>
            <setting name="Inited" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GridSplitterPos2" serializeAs="String">
                <value>394</value>
            </setting>
            <setting name="GridCommentHeight2" serializeAs="String">
                <value>71</value>
            </setting>
        </Configurator.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="localization"/>
        </assemblyBinding>
    </runtime>
</configuration>
